<div class="row">
    <div class="col-lg-3">
      <mat-form-field>
        <mat-label>Group By</mat-label>
        <mat-select name="food" [(value)]="selectedValue" (selectionChange)="someMethod($event.value)">
          <mat-option value="countryIsoCode">Country</mat-option>
          <mat-option value="locationType">Location Type</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3">
      <mat-form-field class="example-full-width">
        <mat-label>Filter</mat-label>
        <input type="text" matInput [(ngModel)]="filterFiled"
               type="text" name="filterFiled" id="filterFiled"
               (ngModelChange)="this.filterDataUpdate.next($event)">
      </mat-form-field>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of groupBy | keyvalue" [disabled]="beerPerCategory[item.key].length === 0">
          <mat-expansion-panel-header>
            <mat-panel-title  >
              {{item.value}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ag-grid-angular #agGrid{{item.key}}
            style="width: 250px; height: 500px;"
            class="ag-theme-material"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            [rowSelection]="rowSelection"
            [rowData]="beerPerCategory[item.key]"
            [columnDefs]="columnDefs"
            (selectionChanged)="onSelectionChanged($event)"
          >
          </ag-grid-angular>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>
