.tp-card {
  max-width: 600px;
}
.tp-header-image {
  background-image: url('https://www.tutorialspoint.com/materialize/src/html5-mini-logo.jpg');
  background-size: cover;
}

.mat-card-avatar {
  height: 50px !important;
  width: 50px !important;
}
